// colors
$color-bg: #0e1014;
$color-text: #e4e5ea;
$color-blue: #4077f3;
$color-gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 70.36%), #e4e5ea;

//font-size
$fz-md: 18px;
$fz-sm: 12px;

$line-height: 122%;

//font-family
$ff-main: 'Inter', sans-serif;
$ff-secondary: 'Montserrat', sans-serif;

// other
$borderRadius: 40px;

// media breakpoints
$mq-tablet: 'min-width:801px';
$mq-desktop: 'min-width:1025px';
$mq-desktopPlus: 'min-width:1440px';
